<% provide(:title,'Sign-in') %>
<%flash.each do |key,value| %>
<div class="alert alert-<%=key %>"><%=value %></div>
<%end%>
<div class="row">
	<div class="span6 offset2 hero-unit" style="border-radius:5px;border:2px solid #000">
		<button class="btn btn-large btn-block btn-inverse" style="margin-bottom:10px;">Sign-in</button>
		<%=form_for(:sessions,url:sessions_path) do |f|%>
		<%=f.label :email %>
		<%=f.text_field :email %>
		<%=f.label :password %>
		<%=f.password_field :password %>
		<%flash.each do |key,value|%>
		<div class="alert alert-<%=key%>"><%=value%></div>
		<%end%>

		<%=f.submit "Log in",class:"btn btn-large btn-primary" %>
		<%end%>
		New user?<%=link_to "Sign up now",signup_path%>
	</div>
</div>

