<% provide(:title,'Home') %>
<%flash.each do |key,value| %>
<div class="alert alert-<%=key%>"><%=value%></div>
<%end%>

<div class="container-fluid">
	<div class="row-fluid">
		<div class="span8">
		
<% @posts.each do |p| %>
<h1>
<% if p.avatar? %>
    <%= cl_image_tag(p.avatar.path,class:'gravatar1 img-polaroid') %>
<% end %>
</h1>
<div class="calendar">
<%=image_tag 'cal.png',style:'float:right' %>
<b>
	<p style="float:right;margin-right:-71px;padding:5px;">
		<% @date = p.created_at  %><%= @date.strftime("%B")%>

	</p>
</b>
</div> 
<b><p style="float:right;margin-right:-50px;margin-top:40px;font-size:1.5em"><% @date = p.created_at  %><%= @date.strftime("%d")%></b></p> 
<h1 style="text-align:left;font-size:25px;"><%=p.title%></h1>

<p style="line-wrap"><%=p.showpost%></p>
<%=link_to "Read more",p,class:'btn btn-medium btn-info pull-right'%>
<p style="margin-bottom:10px"><b>Posted <%= time_ago_in_words(p.created_at) %> ago</b></p>
<p style="margin-bottom:10px"><b>By <%=link_to p.user.name,p.user %></b></p>
<p style="margin-bottom:10px;"><b>Comments: <i class="icon-comment"></i> <%= p.comments.count %></b></p>

<% if signed_in? && current_user.admin? %>
<%=link_to "Edit",edit_post_path(p),class:'btn btn-small btn-success'%>
<%=link_to "Delete",p,:method=>:delete,data:{confirm:"You sure?"},class:'btn btn-small btn-success'%>
<%end%>
<p style="border-bottom:2px dotted #ccc;padding:5px"></p>
<%end%>
</div>
<div class="span4">
<% if !signed_in? %>
		<%=render 'layouts/signin'%>
		<%else%>
		<h1>
		<% if current_user.avatar? %>
    <%= cl_image_tag(current_user.avatar.path,class:'gravatar') %>
<% end %>
		</h1>
			<%=current_user.name%>
			<%=link_to "Create Blog",posts_new_path,class:'btn btn-medium btn-inverse' %>
			<%end%>
			
	</div>

	<div class="span4">
	<%=render 'layouts/recentposts' %>
</div>


	<div class="span4">
	<%=render 'layouts/fblike' %>
</div>

</div>

<%= will_paginate %>
<%=render 'layouts/abtauth' %>

