<% provide(:title,'Blog-posts') %>
<script>
$('#idbutton').click(funtion(){
		var progress = setInterval(function() 
		{
    		var $bar = $('.bar');
    
    		if ($bar.width()==400) 
    		{
        		clearInterval(progress);
        		$('.progress').removeClass('active');
    		} 
    		else 
    		{
        		$bar.width($bar.width()+40);
    		}
    		$bar.text($bar.width()/4 + "%");
		}, 800);

});


</script>

<h1>Create a blog post</h1>
<div class="container-fluid">
	<div class="row-fluid">
	<div class="span7" style="float:left">
		<%=form_for @post do |p| %>
		
		<%=p.label :title %>
		<%=p.text_field :title,autofocus:'true' %>
		<%=p.label :body %>
		<%=p.text_area :body,rows:'25',cols:'20'%>
		<%=p.label :ToDisplay %>
		<%=p.text_area :showpost,rows:'15',cols:'20' %>
		
		<%= p.attachinary_file_field :avatar%>
		
		<%=p.submit "Create Post",class:'btn btn-large btn-primary'%>
		<%end%>
	</div>
	<div class="span4 offset1">
	<% if signed_in? %>
	<h1><%=cl_image_tag(current_user.avatar.path,class:'gravatar')%></h1>
			<%=current_user.name%>
			<%else%>
			<%=render 'layouts/signin' %>
		<%end%>
		</div>
		

	</div>


</div> 
