<h2 style="text-align:left">Comments:</h2>
<% @post.comments.reverse.each do |comment| %>
<div class="row" >
  <div class="span8" style="background:#fff;border-radius:5px;padding:10px;margin-top:10px">
  <p>
    <strong>Name:</strong>
    <%= comment.commenter %>
  </p>
 
  <p>
    <strong style="text-align:left">Comment:</strong>
    <%= comment.body %>
  </p>
  <% if signed_in? && current_user.admin? %>
<%=link_to "Delete",[comment.post, comment],:method=>:delete,data:{confirm:"You sure?"},class:'btn btn-small btn-success'%>
<%end%>
  </div>
  
</div>

<% end %>

<div class="row">
<div class="span4">
<h2 style="text-align:left">Add a comment:</h2>
<%= form_for([@post, @post.comments.build]) do |f| %>
    <%= f.label :Name %>
    <%= f.text_field :commenter %>
    <%= f.label :body %>
    <%= f.text_area :body,rows:'10' %>
    <%= f.submit "Submit",class:'btn btn-large' %>
<% end %>
</div>
</div>